.services {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 10px;
  padding: 30px 50px 40px;
  font-weight: 600;
  font-size: 20px;
  background-color: #374019;
  color: #DCF2E6;
  border-radius: 10px;
  box-shadow: #6A8C20 0 0 10px 3px;

  @media screen and (max-width: 480px) {
    padding: 25px 20px;
  }
}

.line {
  width: 100%;
  border: none;
  border-bottom: #648C81 3px solid;
}

.title {
  font-size: 35px;
  text-align: center;
  font-style: italic;
  color: #6BCCF2;
  padding-bottom: 20px;
}

.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 60px;
  border-radius: 30px;
  padding: 20px 30px;
  background-color: #A7BF95;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    gap: 10px;
    padding: 15px;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 60px;
  padding: 0 35px;
  line-height: 1;
  color: #6A8C20;
}

.selected {
  background-color: #8CBF1F;
}
